body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("img/back.webp");
    /* background-color: aquamarine; */
}

/* header */
.header {
    /* background-color: rgb(9, 255, 0); */
    padding: 10px 10px 0px;
    /* background-image: url("img/shop.jpg"); */
}
.navbar {
    margin-bottom: 20px;
}
.card {
    margin: 10px;
}
.view {
    display: flex;
}
.zero {
    display: flex;
    /* padding: 80px; */
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.bsc {
    cursor: pointer;
    /* background-color: aqua; */
    display: flex;
    /* display: inline-block; */
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    border-left: solid 7px;
    /* color: chartreuse; */
    /* animation: jump 0.8s ease-in-out infinite; */
    /* animation: none;
    animation-delay: 5s; */
}
/* @keyframes bsc {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
body:has(.shake) .shake {
    animation: shake 1s ease-in-out;
} */
/* @keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.bsc:nth-child(1) {
    animation-delay: 0s;
}

.bsc:nth-child(2) {
    animation-delay: 0.0s;
}

.bsc:nth-child(3) {
    animation-delay: 0.0s;
}
.bsc:nth-child(4) {
    animation-delay: 0.6s ;
} */
.nav1 {
    display: flex;
    /* background-color: brown; */
}
.profilep11 {
    flex: 40;
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    box-shadow: black 0px 0px 10px;
    margin: 19px 8px 2px;
    height: 50px;
    border-radius: 20px;
    transition: 100ms;
    /* background-color: rgb(255, 234, 207); */
    border: hidden;
    /* border: solid rgb(236, 220, 213); */
    /* background-color: aqua; */
}
.profilep11:hover {
    background-color: lightslategray;
    color: rgb(255, 201, 135);
    cursor: pointer;
    fill: rgb(255, 199, 131);
}
.profile11 {
    align-items: center;
    height: 20px;
    width: 20px;
    /* border: solid; */
    border-radius: 50%;
    padding: 10px;
    /* background-color: white; */
}
.prostyle {
    font-style: tahoma;
    /* font-weight: 600; */
    /* margin-top: 5px; */
    margin-left: 10px;
    margin-right: 30px;
    font-size: 20px;
}
.proab {
    display: flex;
    position: absolute;
    /* background-color: blue; */
    display: none;
}
.proab1 {
    background-color: bisque;
    padding: 35px 60px;
    border-radius: 30px;
}
.searchp {
    display: flex;
    margin-left: 190px;
    /* background-color: bisque; */
    border-radius: 30px;
    padding: 10px;

    .s2 {
        display: flex;
        flex: 30;
        margin-left: 5px;
        /* background-color: bisque; */
        padding: 5px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgb(78, 78, 78);
        transition: 100ms;
    }
    .s2:hover {
        cursor: pointer;
        display: flex;
        color: rgb(255, 193, 118);
        cursor: pointer;
        fill: rgb(255, 191, 113);
        background-color: rgb(119, 136, 153); 
    }
}
.profilep12 {
    flex: 40;
    display: flex;
    align-items: center;
    /* background-color: ; */
    /* border-radius: 30px; */
}
.inputst {
    /* background-color: #ebd6c9; */
    padding: 15px 200px;
    border-radius: 30px;
    border: hidden;
    box-shadow: 0px 0px 10px rgb(111, 111, 111);
}
.inputst:focus {
    outline: none;
}
.style {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 19px;
    /* background-color: chartreuse; */
}
.mainsp1 {
    display: flex;
    align-items: center;
    /* background-color: bisque; */
    box-shadow: rgb(83, 83, 83) 0px 0px 10px;
    margin: 10px 2px 7px;
    border-radius: 20px;
    transition: 100ms;
    margin-left: 180px;
    border: hidden;
}
.mainsp1:hover {
    background-color: lightslategray;
    fill: rgb(255, 208, 151);
    color: rgb(255, 205, 144);
    cursor: pointer;
}
.profilep13 {
    flex: 40;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}
.profilebtn {
    font-size: 15px;
    color: rgb(255, 251, 247);
    background-color: black;
    padding: 10px 60px 5px;
    margin-top: 20px;
    /* background-image: url("img/profile.png"); */
}
.sellbtn {
    display: flex;
    font-size: 15px;
    margin-left: 80em;
    color: rgb(255, 251, 247);
    background-color: black;
    padding: 10px 60px 5px;
}
/* profile input and login section  */
.inputpro {
    padding: 10px 50px;
    border-radius: 20px;
    border: hidden;
    margin-top: 5px;
    /* background-color: blueviolet; */
}
.inputpro:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgb(125, 125, 125);
    padding: 12px 55px;
}
/* login button  */
.lgin {
    background-color: cornflowerblue;
    text-align: center;
    padding: 12px 8px;
    margin-left: 70px;
    margin-right: 80px;
    margin-top: 10px;
    border-radius: 30px;
}
/* new accont button   */
.newac {
    text-align: center;
    border-radius: 30px;
    color: white;
    font-family: tahoma;
    margin-left: 23px;
    margin-right: 20px;
    background-color: rgb(45, 45, 255);
    padding: 15px;
}
.newac:hover {
    background-color: blue;
    box-shadow: rgb(60, 60, 60) 0px 0px 5px;
    /* font-size: 1.1em; */
    cursor: pointer;
}
/* for products sizing */
.product {
    display: inline-block;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(255, 234, 207);
    transition: 150ms;
    box-shadow: rgb(102, 102, 102) 5px 5px 10px;
    height: 270px;
    width: 310px;
    margin: 23px;

}
.product:hover {
    cursor: pointer;
    scale: 1.1;
    font-size: 1.1em;
    background-color: rgb(255, 211, 158);
    box-shadow: rgb(91, 91, 91) 5px 5px 20px;
}
.ss {
    height: 170px;
    width: 310px;
    border-radius: 20px;
    object-fit: contain;
    object-fit: cover;
}
/* product margin section  */
.margin1 {
    margin-left: 15px;
}